/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
#main{
    height: 600px;
}
#saveMap{
    display: none;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(199, 238, 127);
    background: rgb(199, 238, 127);
}
.btn-room{
    width: 150px;
    padding: 0px;
    border: none;
}
.btn-room:active img{
    opacity: .1;
}
.btn-room h3{
    color: rgb(0, 88, 62);
}

img{
    width: 64px;
    height: 64px;
}

.center-img-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 18px;
}
.controlUIDivBorder{
    background-color : '#fff';
    border : '2px solid #fff';
    border-radius:'3px';
    box-shadow : '0 2px 6px rgba(0,0,0,.3)';
    cursor : 'pointer';
    margin-bottom: '22px';
}

.controlUIDiv{
    color : 'rgb(25,25,25)';
    font-family: 'Roboto,Arial,sans-serif';
    font-size : '16px';
    line-height : '38px';
    padding-left : '5px';
    padding-right : '5px';
}